/*work sans google font*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*common style*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.box-width{
    max-width: 85%;
    margin: 0 auto;
}
/*header section start*/
.header-section{
    padding: 20px 0px;
    border-bottom: 1px solid #ededed;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo img{
    width: 87px;
    height: 41px;
}
.logo p{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 10px;
}
.logo span{
    color: #ff42a5;
    font-size: 2.8rem;
    font-weight: 700;
}
.header-container .nav{
    width: 70%;
}
.nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav ul li{
    list-style: none;
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
}
li.list-icon{
    border-radius: 3px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    cursor:pointer;
}
/* ===== header section end =====*/
/*banner section start*/
.banner-section{
    height: 100hv;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h3{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content h1{
    color: #0B0223;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content ul li{
    list-style: none;
    padding-bottom: 10px;
}
.banner-content ul li a{
    text-decoration: none;
    color: #534C64;
}

.btn .primary-btn{
    background-color: #ff42a5;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    margin-right: 10px;
}
.btn .secondary-btn{
    background-color: #4EC5F7;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
.banner-image img{
    width: 100%;
}

/*banner section end*/
/*funny videos section start*/
.funny-videos-section{
    margin: 50px 0px;
}
.funny-videos-content-section{
    text-align: center;
}
.funny-videos-content-section h1{
    padding-bottom: 30px;
    font-size: 2.8rem;
}
.funny-videos-content-section p{
    padding-bottom: 40px;
}
.funny-videos-content-section span{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-poster{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.game-poster img{
    width: 100%;
}
.game-poster p{
    margin-top: 10px;
}
/*funny videos section end*/