/*work sans google font*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*common style*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.box-width{
    max-width: 80%;
    margin: 0 auto;
}
/*header section start*/
.header-section{
    padding: 20px 0px;
    border-bottom: 1px solid #ededed;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo img{
    width: 87px;
    height: 41px;
}
.logo p{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 5px;
}
.logo span{
    color: #ff42a5;
    font-size: 2.8rem;
    font-weight: 700;
}
.header-container .nav{
    width: 70%;
}
.nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav ul li{
    list-style: none;
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
}
li.list-icon{
    border-radius: 3px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}


